.mainPhoto {
  max-width: 100%;
}
.carousel-control-prev-icon {
  background-image: url("/__in/icons/back.svg") !important;
}
.carousel-control-next-icon {
  background-image: url("/__in/icons/next.svg")!important;
}
